/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.text-sm{
    color: #b1b1b1;
    font-size: small;
    font-weight: normal;
}

/* Container */
.app-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 950px;
    background-color: linear-gradient(#009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);;
}

/* App-wrapper */
.app-container{
    width: 80%;
    height: 95%;
}

/* MAIN */
main{
    height: 100%;
    display: flex;
    flex-direction: row;
}

/*Nav */
nav{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-right: 2px solid #e0dfdf;
    overflow:hidden;
}

/* COMMON */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.info{
    display: flex;
    align-items: center;
}

.text{
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

.image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
}

.icons i{
    margin-left: 10px;
    color: #b1b1b1;
}

/*Section Active User  */
nav .active-user{
    background: #eaeaea;
}

 /* Section Notify */
nav .notify{
    background-color: #8edafb;
}

nav .notify .image{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .notify i{
    color: #8edafb;
    font-size: 20px;
}

/* Section Search */
nav .search{
    padding: 5px;
    display: flex;
    background-color: #fbfbfb;
}

nav .search button{
    width: 20%;
    border: none;
    background-color: white;
    color: #b1b1b1;
    cursor: pointer;
}

nav .search input{
    flex: 1;
    padding: 5px 5px ;
    border: none;
}

/* Section User List */
nav .user-list{
    flex-grow: 1;
    overflow-y: auto;
}

nav .user-list .single-user{
    background-color: white;
}

nav .user-list .single-user:hover{
    background-color: #e9ebeb;
}


/*Section contact */
.user-contact{
    width: 60%;
    height: 100%;
    overflow:hidden;
    display: flex;
    flex-direction: column;
}

/* Section User Access */
.user-contact .user-access{
    background-color: #eaeaea;
}

/*Section Chat Area */
.user-contact .chat-area{
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    background-image:url(../img/mine.jpg) ;
}

.chat-area ul{
    margin: 40px;
    display: flex;
    flex-direction: column;
}

.chat-area li{
    max-width: 48%;
    min-width: 25%;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    position: relative;
}

.chat-area .sms.received{
    background-color: white;  
}

.chat-area .sms.sent{
    background-color: #d5f9ba;
    align-self: flex-end;
}

.chat-area .sms-text{
    margin-bottom: 15px;
}

.chat-area .date{
    padding: 5px;
    font-size: 12px;
    color: #797878;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Section message */
.user-contact .message{
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.message-content input{
    width: 80%;
    padding: 10px;
    border: none;
}

.message-content i{
    color: #797878;
}

