<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <div id="root">
        <div class="app-wrapper">
            <div class="app-container">
                <!-- MIAN -->
                <main>
                    <!--NAV -->
                <nav>
                    <!-- Section Active User -->
                    <section class="active-user">
                        <div class="container">
                            <div class="info">
                                <div class="image" >
                                    <img src="img/avatar_io.jpg" alt="avatar-io">
                                </div>
                                <div class="text">
                                    <p>Nome utente</p>
                                </div>   
                            </div>
                            
                            <div class="icons">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                    </section>

                    <!-- Section Notify -->
                    <section class="notify">
                        <div class="container">
                            <div class="info">
                                <div class="image" >
                                    <i class="fas fa-bell-slash"></i>
                                </div>

                                <div class="text">
                                    <p>Ricevi notifiche di nuovi messaggi</p>
                                    <a class="text-sm" href="#">Attiva nottifiche desktop</a>
                                </div>
                            </div>
                        </div>                                        
                    </section>

                    <!-- Section Search-->
                    <section class="search">
                        <button><i class="fas fa-search"></i></button>
                        <input 
                        type="text" 
                        class="input-field" 
                        placeholder="Cerca o inizia una nuova chat"
                        @keyup="filterContact"
                        v-model="searchContact"
                        >
                    </section>

                    <!-- Section User List -->
                    <section  class="user-list">
                        <!-- Single User -->
                        <div 
                        v-for="(contact, index) in contacts" 
                        @click="changeContact(index)" 
                        class="single-user" 
                        v-show="contact.visible"
                        :class="{'active': index === activeContact}"
                        >
                            <div class="info">
                                <div class="image" >
                                    <img :src="'img/avatar' + contact.avatar +'.jpg'" :alt="contact.name">
                                </div>
                                <div class="text">
                                    <p>{{contact.name}}</p>
                                    <p v-if="contact.messages.length > 0" class="text-sm">{{contact.messages.slice(-1)[0].text}}</p>

                                    <span v-if="contact.messages.length > 0" class="text-sm" >{{contact.messages.slice(-1)[0].date}}</span>
                                </div>   
                            </div>
                            
                        </div>
                    </section>

                </nav>
                <!-- End Section User List -->

                <!-- Section User contact -->
                <section class="user-contact">
                    <!-- Section User Access -->
                    <section class="user-access">
                        <div class="container">
                            <div class="info">
                                <div class="image" >
                                    <img :src="'img/avatar' + contacts[activeContact].avatar +'.jpg'" :alt="contacts[activeContact].avatar">
                                </div>
                                <div class="text">
                                    <p>{{contacts[activeContact].name}}</p>
                                    <p class="text-sm">Ultimo accesso oggi alle</p>
                                </div>   
                            </div>
                            
                            <div class="icons">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                    </section>

                    <!-- Section Chat Area -->
                    <section class="chat-area">
                        <!-- Single sms -->
                        <div v-for="(message, index) in contacts[activeContact].messages" class="sms" :class="message.status">
                            {{message.text}}
                            <div class="date">{{message.date}}</div>

                            <span @click="showSubList(message, index)" class="arrow-down text-sm">
                                <i class="fas fa-chevron-down"></i>
                            </span>

                            <!-- Sublist Message -->
                            <div class="sublist" :class="{'active': message.isActive}">
                                <div class="info-sms">Message info</div>
                                <div @click="deleteMessage(index)"class="delete-sms">Delete message</div>
                            </div>
                        </div>

                    </section>

                    <!-- Section Message -->
                    <section class="message">
                        <div class="message-content">
                            <i class="far fa-smile"></i>
                            <input 
                            type="text" 
                            placeholder="Scrivi un messaggio" 
                            v-model="newMessageText" 
                            @keyup.enter="sendNewMessage"
                            >
                            <i class="fas fa-microphone"></i>
                        </div>
                        
                    </section>

                </section>
                <!-- End Section User Chat -->
                </main>
                <!-- END MAIN -->
            </div>
        </div>
        
    </div>

    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>